<!DOCTYPE html>
<html lang="en">
{% extends 'main/base.html' %}


{% block title %} correct{% endblock %}



{% block content %} 
<head>
    <meta charset="UTF-8">
    <strong>
「要征服一個地方，最好的方法就是讓那兒的人不再相信彼此...」
    <br>
    <br>討厭詭入侵楚斯星球之後，為了佔領，開始散播各種謠言，使得大家開始彼此猜疑，討厭詭成功佔領了楚斯星球，成為了唯一主宰，然而人民在統治的暴政之下，生活苦不堪言，卻又因為無法信任其他人，難以合作對抗討厭詭。
    </strong>
    <br>
    <br>｜<b>『<i>勇者，我們需要你的幫助！</i>』</b>
    <br>：「是誰在說話？」
    <br>｜<b>『<i>我是懷斯長老</i>』</b>
    <br>：「懷斯長老！？不是坤娜叫我過來的嗎？」
    <br>｜<b>『<i>是我讓他找你來的，勇者，我們需要你的幫忙。</i>』</b>
    <br>：「我？等等…你剛剛是叫我勇者嗎？」
    <br>｜<b>『<i>是的，拯救我們的只能是你了。</i>』</b>
    <br>：「？？？」
    <br>｜<b>『<i>你想打敗那些可惡的傢伙嗎？</i>』</b>
    <br>：「當然想啊！可是我什麼都不能做…」
    <br>｜<b>『<i>只要有心就可以了。</i>』</b>
    <br>：「那我可以做些什麼？」
    <br>｜<b>『<i>現在的我們，哎，能做的也不多。</i>』</b>
    <br>：「…」
    <br>｜<b>『<i>但至少我們可以先搜集情報。</i>』</b>
    <br>：「嗯？我該怎麼做？」
    <br>｜<b>『<i>這個給你。</i>』</b>
    <img src="https://i.imgur.com/aOU6NKx.png" width="70">
    <br>｜<b>『<i>這是討厭詭圖鑑，你需要去各地打敗討厭詭，然後蒐集的資訊，等我們掌握了他們的秘密，或許就可以打敗他們了。</i>』</b>
    <br>：「咦？就這樣嗎？」
    <br>｜<b>『<i>目前也就只能這樣了…</i>』</b>
    <br>｜<b>『<i>好了，我不能待太久，先這樣吧，當你需要幫助的時候，我會出現的。</i>』</b>
    <a href="http://127.0.0.1:8000/maps/">
    <center>
    <button>進入冒險
    </button>
    </center>
    </a>
</head>
 {% endblock %}
</html>