<!DOCTYPE html>
<html lang="en">
{% extends 'main/base.html' %}


{% block title %} correct{% endblock %}



{% block content %} 
<head>
    <meta charset="UTF-8">
    <strong>
    <center>「要征服一個地方，最好的方法就是讓那兒的人不再相信彼此...」
    <br>
    <br>討厭詭入侵楚斯星球之後，為了佔領，開始散播各種謠言，使得大家開始彼此猜疑，討厭詭成功佔領了楚斯星球，成為了唯一主宰，
    <br>然而人民在統治的暴政之下，生活苦不堪言，卻又因為無法信任其他人，難以合作對抗討厭詭。
    </center>
    </strong>
    <br>
    <a href="http://127.0.0.1:8000/maps/">
    <center>
    <button>進入冒險
    </button>
    </center>
    </a>
</head>
 {% endblock %}
</html>