<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <strong>
    <center>討厭詭圖鑑：勇者遠征
    </center>
    </strong>
    <br>
</head>
<body> 
    <center>
    <small>「雖然我們無法一起戰鬥，但即使只有我一人，我也要打敗這些惡人！」
    <br>
    <br>玩家是楚斯星球上的勇者，透過打敗各地的討厭詭，將他們的資訊記錄在圖鑑上，嘗試找出他們的弱點。
    <br>
    <br>請選擇職業
    </small>
    <br>
   <a href="/background/">
    <input type="submit" value="鬥士" />
    </a>
    <a href="/background/">
    <input type="submit" value="術士" />
    </a>
    <a href="/background/">
    <input type="submit" value="弓箭手" />
    </a>
    </center>
   </body>
  
</html>