<!DOCTYPE html>
<html lang="en">
{% extends 'main/first_page_base.html' %}


{% block title %} correct{% endblock %}



{% block content %} 


<body> 
    
    <small>夜幕低垂，你躡手躡腳地走進了一間木屋…
    <br>：「坤娜叫我來這邊做什麼…」
    <br>：「真討厭，萬一被那些傢伙發現…」
    <br>：「怎麼什麼都沒有？」
    <br>：「有人在嗎？」
    <br>
    <br>突然，牆角的木箱發出微光，你上前打開，看到裡頭放著三樣物品：寶劍、水晶球、箭矢。
    <br>：「這個是？」
    <br>
    <br>
    </small>
    <strong>〖選擇你的職業〗</strong>
    <tbody><table><tr>
    <td>
    <a href="/background/">
    <input type="image" name="寶劍" src="https://i.imgur.com/yQM6C90.png" onclick="submit()" width="130" border="0">
    </a>
    <br><small>    力量的象徵   </small>
    <br>
    </td>
    <td>
    <a href="/background/">
    <input type="image" name="水晶球" src="https://i.imgur.com/EkXJlIp.png" onclick="submit()" width="130" border="0">
    </a>
    <br><small>    智慧的象徵   </small>
    <br>
    </td>
    <td>
    <a href="/background/">
    <input type="image" name="箭矢" src="https://i.imgur.com/meH7jai.png" onclick="submit()" width="130" border="0">
    </a>
    <br><small>    平衡的象徵   </small>
    </td>

</tbody></table></tr>
   </body>
   {% endblock %}
</html>